$serif: 'Lusitana', serif;
$serif-2: 'Merriweather', serif;
$sans-serif: 'Merriweather Sans', sans-serif;

.category, .home, .archive, .search-results{
  #primary {
    @include span-columns(18);
    @include media($mobile) {
      @include span-columns(4);
    }
    @include media($tablet) {
      @include span-columns(8)
    }
  }

  article {
    @include media($mobile) {
      @include omega;
      @include span-columns(4 of 4);
      height: auto;
    }
    @include media($tablet) {
      @include omega(2n);
      @include span-columns(4 of 8);
      height: 490px;
    }
    @include media($desktop) {
      @include span-columns(6 of 18);
      @include omega(3n);
      height: 430px;
    }
    @include media($large) {
      @include span-columns(6 of 18);
      @include omega(3n);
      height: 430px;
    }
    border-top: 1px solid #CCC;
    padding: 20px 0 0 0;
    margin-bottom: 20px;
    height: 500px;

    img {
      width: 100%;
      height: auto;
    }
    h1 {
      font-size: 1.4em;
      font-family: "Lusitana", serif;
      line-height: 1.3;
      max-height: 80px;
      overflow: hidden;
      a {
        color: #333;
        text-decoration: none;
      }
    }
  }

  nav.navigation {
    @include span-columns(18 of 18)
  }
}
