body {
  margin: 0;
}
a {
  color: #14438b;
}

a:visited {
  color: darken(#14438b, 5%)
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

#page {
  @include outer-container;
  padding: 0 5px;
}

#content {
  overflow: hidden;
}
