#masthead {
  background: #FFF;
  margin: 0 auto;
  margin-bottom: 20px;
}

#masthead h1 {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

#masthead h1 a {
  background: url("images/misetes.png");
  width: 150px;
  height: 150px;
  text-indent: -5000px;
  display: inline-block;
}

#masthead h2 {
  text-align: center;
  color: $vermelho;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  margin-bottom: 10px;
  @include media($mobile) {
    font-size: 25px;
  }
}
