#secondary {
  @include span-columns(5);
  @include shift(1);
  @include omega;

  border-top: 1px solid #CCC;
  aside {
    padding: 10px 0;
    &:first-child {
      border-top: 0
    }
    &:last-child {
      border-bottom: 0
    }
  }
  .widget_search{
    span {
      color: $azul;
      font-weight: 700;
    }
    .search-field, label{
      margin: 0;
    }
  }
  h1 {
    font-size: 1em;
    border-bottom: 1px solid $azul;
    padding:  5px;
    color: $azul;
    font-weight: 700;
  }
  h1 + * {
    padding: 0 10px;
  }
  ul {
    margin: 0;
  }
  li {
    margin: 8px 0;
    list-style: none;
    line-height: 18px;
    font-size: 15px;
    a {
      font-size: 14px;
      line-height: 18px;
    }
  }
  #wp-calendar {
    border: none;
    caption {
      font-size: 1em;
      color: $azul;
    }
    tfoot {
      border: none;
    }
    td {
      text-align: center;
      padding: 0.25em;
      a {
        width: 83%;
        display: inline-block;
        border-radius: 50px;
        border: 3px solid $vermelho;
        text-align: center;
        text-decoration: none;
      }
    }
  }
  .widget_search{
    @include clearfix;
    input[type='submit']{
      float: right;
      @include button(simple, lighten($azul, 10));
    }
  }
  .widget_recent_comments{
    li {
      font-style: italic;
      font-size: 13px;
      a {
        font-style: normal;
        text-decoration: underline;
        font-size: 13px;
      }
    }
  }
  .widget_tag_cloud{
    h1 {
      margin-bottom: 8px;
    }
  }
  .mr_social_sharing{
    img {
      width: 30px;
    }
  }
}
