@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// $visual-grid: true;

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 24;
$max-width: em(1088);

// Define your breakpoints
$mobile: new-breakpoint(max-width em(480px) 4);
$tablet: new-breakpoint(min-width em(481px) max-width em(780px) 8);
$desktop: new-breakpoint(min-width em(781px) max-width em(1025px));
$large: new-breakpoint(min-width em(1025px));
$tablet-and-up: new-breakpoint(min-width em(481px));
$tablet-and-down: new-breakpoint(max-width em(780px));
